/*------------
*IMPORTANT:
  1. Fix header spacing;
  2. Fix nav bar breaking at half screen;
  3. Add media queries so the page adjusts appropriately;
  4. Fix header spacing as you shrink the page down;
  5. Add two new sections at the top of the page, one for "buying" the regular manga volumes, and one for "buying" the deluxe volumes;
  --------------------------
*USEFUL:  
  6. Polish header nav buttons? How to make look cleaner?
  7. Space lower buttons apart farther;
  8. Polish lower set of buttons to look nicer;
  --------------------------
*OPTIONAL:
  9. (*?) Add section for Mori? Below Miura;
  10. (*?) Change border on header, add border-top (Make thicker/thinner?), change border different color?
  11. (*?) Create modal image for top image (when hovering over top image, it grows and background dims), or something similar;
  12. (*?) Add grayscale (100%) to brand of sacrifice png, put repeating on article box side columns, left & right;
  13. (*?) Get website title to look more shiny/metallic;
  14. (*?) Change fonts? Change text color/spacing? 
-----------*/

html {
	font-size: 100%;
  margin-top: 0;
}

/*-- Affects all images --*/
img { 
	height: auto;
  justify-content: space-evenly;
}

/*-- Affects entire page --*/
body { 
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
  margin: 0;
  text-align: justify;
  padding: 0;
  width: 100%;
}

 /*-- Nav list link effects --*/
nav a:link, nav a:visited {
  border: 2px solid #4c4c4c;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  border-color: rgb(189, 189, 189);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 80%;
  color: rgb(189, 189, 189);
  background-image: none;
  background-size: 475%;
}

 /*-- Nav list button effects on hover--*/
nav a:hover, nav a:active  {
  border: 2px solid #4c4c4c;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  border-color: rgb(145, 28, 28);
  /* font-weight: 500; */
  /* font-size: 85%; */
  color: rgb(182, 90, 90);
  background-color: #333232;
  transition: 0.25s ease;
}

/*-- all paragraph (article) text --*/
p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  color:rgb(143, 118, 118);
  padding-left: 5%;
  padding-right: 5%;
  font-size:x-large;
}

.title_text_article_spacing {
  padding-top: 1%;
  padding-left: 16%;
  padding-right: 16%;
  padding-bottom: 10%;
}

.left_text_article_spacing {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.right_text_article_spacing {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

/*-- <a> anchors (in header nav and bottom of page nav) --*/
.anchors {
  text-align: right;
  margin-bottom: 0;
  justify-content: space-evenly;
  /* flex: auto; */
  color: rgb(150, 45, 45);
  margin-top: 10%;
}

/* Header image (brand) */
.img-fluid {
  margin-top: 5px;
  max-height: 135px;
}

/*-- title (Berserk) text --*/
.small {
  width: 500px;
  font-weight: 900;
  font-family: 'BebasNeue', sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 90px;
  padding-left: 2%;
  position: relative;
  bottom: 10px;

  letter-spacing: -0.75rem;
  background-image: linear-gradient( 
		rgb(150, 45, 45) 10%,
		rgb(75, 12, 12) 60%);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.container-fluid {
  flex-grow: 0.8;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 3rem;
  justify-content: flex-end;
  position: relative;
  bottom: 15px;
}

.nav-item {
  margin-left: 3rem;
}

h1 {
  margin: 0;
}

.btn {
  color: rgb(150, 45, 45);
}

/*-- header nav bar --*/
nav ul {
  display: flex;
  justify-content: space-between;
  color: rgb(150, 45, 45);
}
nav li {
  margin-left: 1rem;
} 

/* Header: */
.navbar {
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../img/leather_3.jpg");
  background-size: 20%;
  border-style: solid;
  border-color: rgb(22, 22, 22);
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  height: 150px;
}

.brand_title_nav {
  display: flex;
  flex-direction: row;
  /* height: 200px; */
}

.container {
  width: 100%;
}

/* flex box for header title, image, and nav. bar */
.breadcrumb {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  height: 70%;
  width: 90%;
} 

/*-- Unordered list for header nav bar --*/
ul { 
  list-style-type: none;
  margin-top: 15%;
  flex: 1;
  align-self: flex-end;
}

.header_image {
  padding-top: 1%;
  margin-top: -1%;
  margin: 0 auto;
  margin-left: -1%;
  width: 90;
}

.title {
  flex: 1;
}

/*-- Affects Footer --*/
.footer {
  background-image: url("../img/leather_3.jpg");
  background-size: 35%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-color: rgb(22, 22, 22);
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

/* footer information */
.g-5 {

}

/*-- Article (text) style --*/
article {
  font-size: 20px;
  line-height: 1.3;
  background: rgb(36, 35, 35);
  padding: 1em;
  border-radius: 0.5em;
  padding-bottom: 2rem;
}

.article_box {
  background-color: rgb(39, 39, 39);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/*-- Affects all Article images --*/
article figure { 
  /*--width: 100%;--*/
  margin: 0;
  width: auto;
}

/*-- Affects all article image captions --*/
figcaption {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(161, 51, 51);
  justify-content: center;
  text-align: center;
}

/*-- Top image --*/
.title_image {
  width: 50%;
  justify-content: center;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 0.5em;

  transition: 1s ease;
}
/*-- Grow hover effect for top image --*/
.title_image:hover {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
/*-- Top image caption --*/
.figure0 {
  display: block;
  justify-content: center;
  font-size: x-large;
}

/*-- For left image and left figcaption --*/
.figure1 {
  float: left;
  padding-left: 5%;
}

/*-- For right image and right figcaption --*/
.figure2 {
  float: right;
  padding-top: 1.65rem;
  padding-right: 5%;
}

/*-- Left image --*/
.image1 {
  width: 20rem;
  border-radius: 0.5em;
  display: flex;

  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}
/*-- Grayscale hover effect for image1 --*/
.image1:hover{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.5s ease;

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: 1s ease;
}

/*-- Right image --*/
.image2 {
  width: 20rem;
  border-radius: 0.5em;
  transition: 1s ease;
}
/*-- Grow hover effect for image2 --*/
.image2:hover {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

/*-- Nav buttons at the bottom of page --*/
.pagination {
  grid-template-rows: auto;
  margin: 0;

  width: 100%;
  padding: 2em;
  display: block;
  text-align: center;
  padding-top: 15rem;
}

/*-- Nav buttons at the bottom of page --*/
a.button {
  border: 2px solid #4c4c4c;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: rgb(189, 189, 189);
  border-radius: 8px;
  border-width: 3px;
  background-color: #4c4c4c;
  border-color: rgb(189, 189, 189);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}

/*-- Nav button effects at the bottom of page on hover--*/
a.button:hover, a.button:active {
  border: 2px solid #4c4c4c;
  padding: .4em 1em .4em 1em;
  text-decoration: none;

  /* background-size: 475%; */
  color: #4c4c4c;
  border-radius: 8px;
  border-width: 3px;
  border-color: rgb(129, 8, 8);
  /* font-weight: 400; */
  /* font-size: 100%; */
  color: rgb(182, 90, 90);
  /* transition: 0.25s ease; */
}

.button {
    padding-left: 3rem;
}

a#trigram {
  display: inheritS;
  border: 0;
  background-color:transparent;

}

a#trigram::before { 
  content: '\2630'; 
  font-size: 4rem; 
  position: relative; 
  top: -.5rem; 
  right: 0; 
}


@media screen and (max-width: 1000px) {
  header {width: 96%;}
  article {width: 96%;}
  .nav-wrap {
    display: none;
  }
  .nav-wrap.mobile {
    position:absolute;
    z-index: 10;
    top: 7rem;
    right: 0;
    width: 100%;
    padding: 0 2rem 2rem 2rem;
    background: var(--ltmid);
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
  }
  .nav-wrap.mobile  a {
    display: block;
    width: 100%;
    text-align: right;
    padding: 2rem 2rem;
    margin: 0;
  }
  .nav-wrap.mobile  a:hover {
    background-color: var(--light);
  }
  a#trigram {display: inherit;}
  a#trigram.tri-mobile::before {content: '\00D7';}
}

